body {
	font-family: Helvetica, Arial, Sans-Serif;
	text-align: center;
}

.navbar {
	display: inline-block;
	width: 100%;
	padding: 10px;
	background-color: #34495e;
	color: #fff;
	font-size: 10px;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}

.navbar span {
	margin: 10px;
	float: right;
}

.navbar span h3 {
	position: absolute;
	left: 20px;
	top: 0;
	font-size: 2em;
}

.navbar .btn, .navbar input {
	border: 2px solid #ecf0f1;
	color: #ecf0f1;
	border-radius: 2px;
	padding: 7px 14px;
}

.header {
	color: #333;
	font-size: 3em;
}

.container {
	display: inline-flex;
	height: 500px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.header-img {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0.8;
}

.navbar-side {
	position: absolute;
	left: 0;
	top: 0;
	width: 65px;
	height: 100%;
	background-color: #34495e;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	text-align: center;
	padding-top: 20px;
	opacity: 0.8;
}

.navbar-side i {
	color: #fff;
	padding: 10px 0;
}

.navbar-side span {
	font-size: 0.8em;
	color: #fff;
}

.explore {
	margin-left: 65px;
}

.searchbar {
	width: 70%;
	height: 40px;
	align-self: center;
	border: 3px solid #34495e;
	border-radius: 10px;
}

.searchbar .btn {
	float: right;
	background-color: #34495e;
	padding: 0 20px;
	border-bottom-right-radius: 8px;
	border-top-right-radius: 8px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.searchbar input {
	width: 80%;
	height: 30px;
}

input {
	background-color: transparent;
	border: 0px solid;
	color: #CCC;
}

.learnmore {
	background-color: #34495e;
	color: #fff;
	border-radius: 2px;
	border: 2px solid #fff;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 2em;
}

.content {
  margin-left: 65px;
}

.product {
  width: 33%;
  height: 400px;
  margin: 20px;
  border: 3px solid #34495e;
}

.productList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

button {
  background-color: transparent;
  margin: 5px;
  border: 1px solid #34495e;
  font-size: 1em;
}

.product-img {
  height: 60%;
}

.upload input {
  background-color: transparent;
  margin: 5px;
  border: 1px solid #34495e;
  font-size: 1em;
  color: #34495e;
}

.upload {
  width: 350px;
  height: 350px;
}
