body {
	font-family: Helvetica, Arial, Sans-Serif;
}

.navbar {
	width: 100%;
	height: 50px;
	background-color: #000;
	font-size: 1.5em;
}

.navbar span {
	padding: 15px;
	color: #fff;
	float: right;

}

.header-img {
	width: 100%;
	height: 500px;
}

.navbar-side {
	position: absolute;
	left: 0;
	top: 0;
	width: 65px;
	height: 100%;
	background-color: #000;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.navbar-side span {
	color: #fff;
}
